# Node folders
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress output
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
cypress/results/

# Cypress cache
.cache/
Cypress_Sweetshop/.cache/

# OS junk files
.DS_Store
Thumbs.db

# Environment / sensitive
.env
.env.local
.env.test
.env.prod

# Logs
*.log
logs/

# GitHub Actions temporary files
.github/workflows/temp/
