name: Cypress Tests

on:
  push:
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./Cypress_Sweetshop
        run: npm install

      - name: Run Cypress tests
        working-directory: ./Cypress_Sweetshop
        run: npx cypress run
